In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:

data = {
    'Gender': [1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2],
    'Age Range': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2],
    'Head Size(cm^3)': [4512, 3738, 4261, 3777, 4177, 3585, 3785, 3559, 3613, 3982, 3443, 3993, 3640, 4208, 3832],
    'Brain Weight(grams)': [1530, 1297, 1335, 1282, 1590, 1300, 1400, 1255, 1355, 1375, 1340, 1380, 1355, 1522, 1208]
}

In [3]:
df = pd.DataFrame(data)

In [5]:

numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

In [6]:

scaler = MinMaxScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
print(df)

    Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0      0.0        0.0         1.000000             0.842932
1      0.0        0.0         0.275959             0.232984
2      0.0        0.0         0.765201             0.332461
3      0.0        0.0         0.312442             0.193717
4      0.0        0.0         0.686623             1.000000
5      0.0        0.0         0.132834             0.240838
6      0.0        0.0         0.319925             0.502618
7      0.0        0.0         0.108513             0.123037
8      0.0        1.0         0.159027             0.384817
9      1.0        1.0         0.504210             0.437173
10     1.0        1.0         0.000000             0.345550
11     1.0        1.0         0.514500             0.450262
12     1.0        1.0         0.184284             0.384817
13     1.0        1.0         0.715622             0.821990
14     1.0        1.0         0.363891             0.000000

In [7]:
import pandas as pd

In [14]:
file_path = '/content/LAB-2.csv'
housing_data = pd.read_csv(file_path)

In [15]:
data_description = housing_data.describe()
print("Data Description:")
print(data_description)

Data Description:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [16]:

data_info = housing_data.info()
print("\nData Types and Shape:")
print(data_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

Data Types and Shape:
None

In [17]:
null_values = housing_data.isnull().sum()
print("\nNull Values:")
print(null_values)

Null Values:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [18]:
housing_data_filled = housing_data.fillna(housing_data.mean())

<ipython-input-18-77497ba84a3e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  housing_data_filled = housing_data.fillna(housing_data.mean())

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [20]:
file_path = '/content/LAB-2.csv'
housing_data = pd.read_csv(file_path)

In [21]:
non_numeric_columns = housing_data.select_dtypes(exclude=['float64', 'int64']).columns

In [24]:
features = housing_data.drop(columns=['median_house_value'])
target = housing_data['median_house_value']

In [25]:
numeric_features = features.drop(columns=non_numeric_columns)
categorical_features = features[non_numeric_columns]

In [26]:
encoder = OneHotEncoder(drop='first', sparse=False)
categorical_features_encoded = pd.DataFrame(encoder.fit_transform(categorical_features), columns=encoder.get_feature_names_out(categorical_features.columns))

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [27]:
features_processed = pd.concat([numeric_features, categorical_features_encoded], axis=1)

In [29]:
scaler = MinMaxScaler()
features_normalized = pd.DataFrame(scaler.fit_transform(features_processed), columns=features_processed.columns)

In [30]:
X_train, X_test, y_train, y_test = train_test_split(features_normalized, target, test_size=0.2, random_state=42)

In [33]:
print("Features:")
print(features.head())
print("\nTarget Variable:")
print(target.head())
print("\nNormalized Features:")
print(features_normalized.head())
print("\nTrain and Test Shapes:")
print("X_train:", X_train.shape, "X_test:", X_test.shape, "y_train:", y_train.shape, "y_test:", y_test.shape)

Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income ocean_proximity
0       322.0       126.0         8.3252        NEAR BAY
1      2401.0      1138.0         8.3014        NEAR BAY
2       496.0       177.0         7.2574        NEAR BAY
3       558.0       219.0         5.6431        NEAR BAY
4       565.0       259.0         3.8462        NEAR BAY

Target Variable:
0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

Normalized Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.211155  0.567481            0.784314     0.022331        0.019863
1   0.212151  0.565356            0.392157     0.180503        0.171477
2   0.210159  0.564293            1.000000     0.037260        0.029330
3   0.209163  0.564293            1.000000     0.032352        0.036313
4   0.209163  0.564293            1.000000     0.041330        0.043296

   population  households  median_income  ocean_proximity_INLAND  \
0    0.008941    0.020556       0.539668                     0.0
1    0.067210    0.186976       0.538027                     0.0
2    0.013818    0.028943       0.466028                     0.0
3    0.015555    0.035849       0.354699                     0.0
4    0.015752    0.042427       0.230776                     0.0

   ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
0                     0.0                       1.0
1                     0.0                       1.0
2                     0.0                       1.0
3                     0.0                       1.0
4                     0.0                       1.0

   ocean_proximity_NEAR OCEAN
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

Train and Test Shapes:
X_train: (16512, 12) X_test: (4128, 12) y_train: (16512,) y_test: (4128,)